body {

    text-align: center;
    
    }
    
.leftside, .rightside {

    height:50vh;
    width:100%;

}

@media screen and (min-width:768px)
{

    .leftside, .rightside {

        height:100vh;

    }

}

.leftside {

    background:red;

}

.rightside {

    background:blue;

}
